html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  font-family: 'Roboto-Local';
  font-size: 13px;
  color: #ffffff;
  font-weight: 100;
}

.index-container {
  width: 100%;
}

.index-container
header {
  background-color: #4285f4;
  padding: 44px 0px 20px 0px;
  -webkit-transition: padding 1s ease-in;
  -moz-transition: padding 1s ease-in;
  transition: padding 1s ease-in;
}

.index-container
.search-box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px 0px 80px;
}

.index-container
.search-box::after {
  clear: both;
  content: "";
  display: table;
}

.index-container
.search-box
img {
  position: absolute;
  height: 30px;
  margin-left: -40px;
  opacity: 0.87;
}

.index-container
.search-box
input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #97bcf9;
  color: rgba(255, 255, 255, 0.87);
  height: 30px;
  font-size: 15px;
  font-weight: 500;
}

.index-container
.search-box
input::-webkit-input-placeholder {
  color: #97bcf9;
  font-weight: 100;
}

.index-container
.search-box
input::-moz-placeholder {
  color: #97bcf9;
  font-weight: 100;
}

.index-container
.search-box
input:-moz-placeholder {
  color: #97bcf9;
  font-weight: 100;
}

.index-container
.search-box
input:-ms-input-placeholder {
  color: #97bcf9;
  font-weight: 100;
}

.index-container
.results {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.index-container
.results::after {
  clear: both;
  content: "";
  display: table;
}

.index-container
.results
.item {
  padding-left: 45px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 13px;
  cursor: pointer;
  position: relative;
}

.index-container
.results
.item
.icon {
  position: absolute;
  top: 21px;
  left: 15px;
  background-image: url("../img/busstop-list.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.index-container
.results
.item
.icon.delete {
  top: 21px;
  right: 15px;
  left:auto;
  background-image: url("../img/delete.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding:10px;
}

.index-container
.results
.item
.top-row {
  padding-top: 10px;
}

.index-container
.results
.item
.name {
  color: #000;
  font-weight: bold;
}

.index-container
.results
.item
.number {
  color: #8C8C8C;
  font-weight: 100;
  padding-left: 10px;
}

.index-container
.results
.item
.bottom-row {
  padding-top: 7px;
  padding-bottom: 10px;
}

.index-container
.results
.item
.towards {
  color: #8C8C8C;
  font-weight: 100;
}

.results body {
  background-color: #4285f4;
}

.result-page-container {
  width: 100%;
  background-color: #4285f4;
}

.result-page-container
header {
  padding: 20px 0px 20px 0px;
  -webkit-transition: padding 1s ease-in;
  -moz-transition: padding 1s ease-in;
  transition: padding 1s ease-in;
  text-align: center;
}

.result-page-container
.stop-name .name {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  display: block;
}

.result-page-container
.stop-name .towards {
  font-size: 10px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  display: block;
}

.result-page-container
.bus-numbers {
  background-color: #4285f4;
}

.result-page-container
.bus-numbers
.results {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.result-page-container
.bus-numbers
.results::after {
  clear: both;
  content: "";
  display: table;
}

.result-page-container
.bus-numbers
.results
.item {
  color: #ffffff;
  padding: 10px 10px 10px 25px;
  background-image: url("../img/busstop.png");
  background-image: url("../img/busstop.png");
  background-position: 5px 10px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  margin: 0px 0px 10px 0px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}

.result-page-container
.bus-numbers
.results
.item:last-child {
  margin-right: 0;
}

.result-page-container
.bus-numbers
.results
.item.active {
  opacity: 1;
}

.result-page-container
.bus-numbers
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.result-page-container
.results .timetable {
  border-bottom: 1px soild rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  width: 100%;
}

.result-page-container
.results .timetable
thead th {
  background-color: rgba(255, 255, 255, 0.2);
}

.result-page-container
.results .timetable
tbody
tr:last-child td.hour {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.result-page-container
.results .timetable
tr td, .result-page-container
.results .timetable
tr
th {
  padding: 10px;
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;
  /*Chrome & Safari */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.result-page-container
.results .timetable
tr td:first-child
, .result-page-container
.results .timetable
tr
th:first-child {
  width: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.result-page-container
.results .timetable
tr
span {
  padding: 0px 10px;
  display: inline-block;
}

.result-page-container
.results .timetable
tr td:nth-of-type(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: 'Roboto-Local';
  src: url("fonts/Roboto-Regular.ttf");
}
