<div class="index-container">
	<header>
		<div class="search-box"><img src="img/busstop.png">
		  <input autofocus placeholder="Choose busstop name or number" class="input" ng-model="inputText" ng-init="inputText=''">
		</div>
	</header>
	<ul class="results">
		<li class="item" busstop="i" history="true" ng-repeat="i in stopdata | historyFilter: history | limitTo: 6" ng-click="go('/'+i.number)" ng-show="inputText.trim() == ''"></li>

		<li class="item" busstop="i" ng-repeat="i in stopdata | searchFilter: inputText |limitTo: 6" ng-click="go('/'+i.number)" ng-show="inputText.trim() != '' "></li>
	</ul>
</div>