<div class="result-page-container">
  <header>
    <div class="stop-name"><span class="name">{{data.name}} ( {{ data.number }} )</span>
    <span class="towards" >towards {{unique(data.towards).join(', ')}}</span></div>
  </header>
  <div class="bus-numbers">
    <div class="results">
      <span class="item" ng-show="data.bdata.length > 1" ng-class="{ 'active' : (current<0) }" ng-click="activate(-1)" >All</span>
      <span class="item" ng-class="{ 'active' : (current<0 || bus_number == current) }" ng-click="activate(bus_number)" ng-repeat="bus_number in data.bdata">{{bus_number}}</span>
    </div>
  </div>
  <div class="results">
    <table class="timetable" ng-class="{'active': isActiveWeek(week)}" ng-repeat="(week,value) in timetable">
      <thead>
        <tr>
          <th></th>
          <th>{{days[week]}}</th>
        </tr>
      </thead>
      <tbody> 
        <tr ng-class="{'active': isActiveHour(h)}" ng-repeat="(h,minutes) in value">
          <td class="hour">{{h}}</td>
          <td class="min"> <span ng-show="current < 0 || m.endsWith('/'+current)" ng-class="{'active': isActiveMinute(m,minutes[$index-1],minutes[$index+1])}" ng-repeat="m in minutes | unique">{{ formatMinute(m); }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
