<div class="icon"></div>
<div class="top-row"><span class="name">{{data.name}}</span><span class="number">{{data.number}}</span></div>
<div class="bottom-row"><span class="towards">towards {{data.towards.join(", ")}}</span></div>
<div class="icon delete" ng-show="history=='true'" ng-click="$parent.removeFromHistory(data.number);$event.stopPropagation()"></div>