doctype
html.no-js.results
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tampere Bus Schedule
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
    div.result-page-container
        header
            div.stop-name
                span.name Kierikankatu (3065)
                span.towards towards Ylojarvi
        div.bus-numbers
            div.results
                span.item 13
                span.item 13
                span.item 13
                span.item 13
                span.item 13
                span.item.active 15
        div.results
            table.timetable
                thead
                    tr
                        th klo
                        th Monday-Friday
                tbody 
                    tr
                        td.hour 4
                        td.min 
                            span.13 23
                    tr
                        td.hour 5
                        td.min 
                            span.13 03
                            span.13 33
                    tr
                        td.hour 6
                        td.min 
                            span.13 03
                            span.13 18
                            span.13 33
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
            table.timetable
                thead
                    tr
                        th klo
                        th Monday-Friday
                tbody 
                    tr
                        td.hour 4
                        td.min 
                            span.13 23
                    tr
                        td.hour 5
                        td.min 
                            span.13 03
                            span.13 33
                    tr
                        td.hour 6
                        td.min 
                            span.13 03
                            span.13 18
                            span.13 33
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
