@import "bourbon/bourbon";
@import "neat/neat";

$input-height : 30px;

$primary-color: #4285f4;
$secondary-color: #ffffff;

$border-color: #97bcf9;

* 
{
	font-family: 'Roboto-Local';
	font-size: 13px;
	color: $secondary-color;
	font-weight: 100;
}

.index-container
{
	@include fill-parent;

	header
	{
		background-color: $primary-color;
		padding: 44px 0px 20px 0px;
		@include transition(padding 1.0s ease-in);
	}

	.search-box
	{
		@include outer-container;
		padding:0px 40px 0px 80px;

		img 
		{
			@include position(absolute);
			height: $input-height;
			margin-left: -40px;
			opacity: 0.87;
		}

		input
		{
			@include fill-parent;
			border: none;
			outline: none;
			background: transparent;
    		border-bottom: 1px solid $border-color;
    		color: rgba(255,255,255,0.87);
    		height: $input-height;
    		font-size: 15px;
    		font-weight: 500;

    		@include placeholder {
				color: $border-color;
				font-weight: 100;
			}

		}
	}

	.results 
	{
		@include outer-container;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
		.item
		{
			
			//padding:10px 0px 10px 40px;
			padding-left:45px;
			border-bottom: 1px solid #e6e6e6;
			font-size:13px;
			cursor: pointer;
			position: relative;

			.icon
			{
				@include position(absolute,21px null null 15px);
				@include background-image(url("../img/busstop-list.png"));
				background-size: 16px 16px;
				width: 16px;
				height: 16px;

			}

			.top-row
			{
				padding-top:10px;
			}
			.name
			{
				color: #000;
				font-weight: bold;
			}

			.number
			{
				color: #8C8C8C;
				font-weight: 100;
				padding-left: 10px;
			}

			.bottom-row
			{
				padding-top:7px;
				padding-bottom:10px;
			}
			.towards
			{
				color: #8C8C8C;
				font-weight: 100;

			}
		}

	}
}

.results body
{
	background-color: $primary-color;
}
.result-page-container
{
	@include fill-parent;
	background-color: $primary-color;
	header
	{
		padding: 20px 0px 20px 0px;
		@include transition(padding 1.0s ease-in);
		text-align: center;
	}

	.stop-name .name
	{
		
		font-size: 15px;
		font-weight: 500;
		color: $secondary-color;
		position:relative;
		display: block;
	}
	.stop-name .towards
	{
		
		font-size: 10px;
		font-weight: 100;
		color: rgba(255,255,255,0.8);
		position:relative;
		display: block;
	}

	.bus-numbers
	{
		background-color: $primary-color;
		
		.results
		{
			@include outer-container;
			//text-align: center;
			.item
			{
				color: $secondary-color;

				padding: 10px 10px 10px 25px;
				@include background-image(url("../img/busstop.png"));
				background-position:5px 10px;
				background-repeat: no-repeat;
				background-size: 16px 16px;
				margin: 0px 0px 10px 0px;
				display: inline-block;
				cursor: pointer;
				opacity:0.5;
				@include span-columns(2);
				
				&.active
				{
					opacity: 1;
				}
			}

		}

		.icon
		{
			display: inline-block;
			width: 16px;
			height: 16px;
		}
	}

	.results .timetable
	{
		border-bottom: 1px soild  rgba(255,255,255,0.2);
		border-collapse: collapse;
		width:100%;

		thead th
		{
			background-color: rgba(255,255,255,0.2);
		}
		
		tbody
		{
			tr:last-child td.hour
			{
				border-bottom: 1px solid rgba(255,255,255,0.2);
			}
		}
		tr 
		{

			td,th
			{
				padding:10px;
				white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
				white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
				white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap;    /* Opera 7 */
				white-space: pre-wrap;       /* css-3 */
				word-wrap: break-word;       /* Internet Explorer 5.5+ */
				word-break: break-all;
				white-space: normal;

				&:first-child
				{
					width: 40px;
					text-align: center;
					background-color: rgba(255,255,255,0.2);
				}
			}

			span
			{
				padding: 0px 10px;
				display:inline-block;
			}
		}

		tr td:nth-of-type(2)
		{
			border-bottom: 1px solid  rgba(255,255,255,0.1);
		}
	}
}

@font-face {
  font-family: 'Roboto-Local';
  src: url("fonts/Roboto-Regular.ttf");
}
